body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #1C1C1C;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ADD8E6;
  padding: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  margin: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label, input, textarea, button {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}